<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="mb-4 text-muted">MP-09</h2>
                    <form action="" method="">
                        <div class="mb-3 text-start">
                            <label  class="form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Enter email address" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label  class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Masuk</button>
                    </form>
                </div>
                <h3><a href="@{/register}"></a>Register</h3>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>