<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Category List</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="assets/img/mp.jpeg" alt="mp-09 logo" class="app-logo" style="width: 5rem;">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="/products"><i class="fas fa-list"></i>Product</a>
                </li>
                <li>
                    <a href="/categories"><i class="fas fa-file-alt"></i>Product Category</a>
                </li>
                <li>
                    <a href="/users"><i class="fas fa-user-friends"></i>Users</a>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>Admin</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="box box-default">
                    <div class="box-body">
                    
                    <div class="row">
                        <div class="col-9 mt-3">
                            <div class="jumbotron">
                            <h2>HAI BCA!</h2>        
                            </div>
                        </div>

                        <div class="col-3 mt-2">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWa27Zlixg3zPGkLrmH_8HdxdEmXIi21TXVw&usqp=CAU" alt="Card image cap" style="width: 2rem;">
                                <p class="card-text">Bogor, Cerah Berhujan 
                        </div>
                    </div>

                    <hr>

                    <div th:if="${message}" class="alert alert-success text-center">
                        [[${message}]]
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h6>Product Category List</h6>
                            <table class="table table-bordered">
                                <thead class="thead table-info">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="category : ${categories}">
                                  <tr>
                                    <th scope="row">[[${category.id}]]</th>
                                    <td>[[${category.name}]]</td>
                                    <td>
                                        <a class="h4 mr-3" th:href="@{'/categories/edit/' + ${category.id}}">Edit</a>
                                        <a class="h4" th:href="@{'/categories/delete/' + ${category.id}}">Delete</a>
                                    </td>
                                  </tr>
                                </th:block>
                                </tbody>
                              </table>
                        </div>

                    </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>