<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product List</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="assets/img/mp.jpeg" alt="mp-09 logo" class="app-logo" style="width: 5rem;">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="/products"><i class="fas fa-list"></i>Product</a>
                </li>
                <li>
                    <a href="/categories"><i class="fas fa-file-alt"></i>Product Category</a>
                </li>
                <li>
                    <a href="/users"><i class="fas fa-user-friends"></i>Users</a>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>Admin</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="box box-default">
                    <div class="box-body">
                    
                    <div class="d-flex justify-content-between">
                        <div class="col-9 mt-3">
                            <div class="jumbotron">
                            <h2>HAI BCA!</h2>        
                            </div>
                        </div>

                        <div class="col-6 mt-2">
                            <img class="card-img-top" src="" id="weathericon">
                            <div class="col-md-6">
                                <div id="weather"></div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <h6>Product List</h6>
                            <table class="table table-bordered">
                                <thead class="thead table-primary">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Category</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="product : ${products}">
                                  <tr>
                                    <th scope="row">[[${product.id}]]</th>
                                    <td>[[${product.productname}]]</td>
                                    <td>[[${product.category.name}]]</td>
                                    <td>[[${product.qty}]]</td>
                                    <td>[[${product.price}]]</td>
                                    <td>[[${product.description}]]</td>
                                    <td>
                                      <a class="h4 mr-3" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
                                      <a class="h4" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
                                    </td>
                                  </tr>
                                </th:block>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-10">
                            <div class="col-sm-2">
                                Total Category: [[${totalItems}]]
                            </div>
                            <div class="col">
                                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                        <a th:if="${currentPage != i}" th:href="@{'/products/page/' + ${i}}">[[${i}]]</a>
                                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                    </span>
                            </div>
                            <div class="col">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${currentPage + 1}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>
                            <div class="col">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${totalPages}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/weather.js"></script>
</body>

<!--<script type="text/javascript">-->
<!--    link = "https://api.openweathermap.org/data/2.5/weather?q=London&appid=6e1377917ba5dc606d32495c04dfd273";-->
<!--    var request = new XMLHttpRequest();-->
<!--    request.open('GET',link,true);-->
<!--    request.onload = function() {-->
<!--        var obj = JSON.parse(this.response);-->
<!--        console.log(obj);-->
<!--        document.getElementById('weather2').innerHTML = obj.weather[0].description;-->
<!--        document.getElementById('temp').innerHTML = obj.main.temp - 273.15;-->
<!--    }-->
<!--    if(request.status==200) {-->
<!--        console.log("ERROR");-->
<!--    }-->
<!--    request.send();-->
<!--</script>-->

</html>